* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}


/* Navigation Bar */
.navbar {
  width: 100%;
  height: 170px;            
  padding: 0 40px;          
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: black;

  position: sticky;
  top: 0;
  z-index: 1000;

  will-change: transform;
  transform: translateZ(0);
}

/* THIS IS THE CODE FOR MY LOGO */
.logo {
  height: 300px;
  width: auto;

  object-fit: contain;
  cursor: pointer;

  will-change: transform;
  transform: translateZ(0);
}

/* NAV LINKS */
.navbar ul {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);


  display: flex;
  flex-direction: row;  
  align-items: center;

  gap: 40px;


  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}


.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  white-space: nowrap;  
}


/* TOP + BOTTOM LINES EFFECT*/
.navbar ul li a {
  position: relative;

  text-decoration: none;
  color: white;

  font-size: 1.1rem;
  letter-spacing: 0.5px;

  padding: 5px 10px;

  white-space: nowrap;

  transition:
    color 0.3s ease,
    letter-spacing 0.3s ease;

  will-change: transform, opacity;
  transform: translateZ(0);
}

/* HERE IS THE CODE FOR MY TOP + BOTTOM LINE EFFECTS */
.navbar ul li a::before,
.navbar ul li a::after {

  content: "";

  position: absolute;

  width: 0;
  height: 2px;

  background-color: #075d82;

  transition: width 0.4s ease;
}

/* TOP LINE EFFECT CODE */
.navbar ul li a::before {
  top: -8px;
  right: 0;
}

/* BOTTOM LINE EFFECTS CODE*/
.navbar ul li a::after {
  bottom: -8px;
  left: 0;
}

/* HOVER EFFECTS FOR MY NAV BAR*/
.navbar ul li a:hover {
  color: #fff;
  letter-spacing: 1px;
}

/* LINE EXPAND EFFECT */
.navbar ul li a:hover::before,
.navbar ul li a:hover::after { 
  width: 100%;
}

/* HERO SECTION(TEXT ON PAGES) */
.hero {
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url('ocean.jpg');

  background: linear-gradient(rgba(0, 238, 255, 0.6), rgba(0, 0, 0, 0.6)),
              url('ocean.jpg');
  background-size: cover;
  background-position: center;

  will-change: transform;
  transform: translateZ(0);
}

/* HERO TEXT(TEXT ON PAGES)*/
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* HERO TEXT(TEXT ON PAGES)*/
.hero-content p {
  font-size: 1.2rem;

  max-width: 600px;

  margin-left: auto;
  margin-right: auto;
}

/* PAGE TRANSITION EFFECT */
.page-transition {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: linear-gradient(
    135deg,
    #0a84b5,
    #075d82,
    #042d3f
  );

  transform: translateX(-100%);

  z-index: 99999;

  pointer-events: none;

  will-change: transform;

}

/* BUBBLE BACKGROUND */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;


  background: linear-gradient(
    180deg,
    #00111f 0%,
    #003049 40%,
    #000814 100%
  );


  z-index: -1;
}


.wrapper div {
  position: absolute;
  width: 90px;
  height: 90px;

  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;

  background: rgba(255,255,255,0.05);

  box-shadow:
    0 0 15px rgba(0,255,255,0.4),
    inset 0 0 15px rgba(255,255,255,0.2);

  animation: animate 12s linear infinite;
}


.wrapper div .dot {
  position: absolute;
  top: 18px;
  right: 18px;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: rgba(255,255,255,0.8);

  box-shadow: 0 0 10px rgba(255,255,255,0.8);
}


/* Bubble Positions */


.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation-duration: 8s;
}


.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation-duration: 10s;
}


.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation-duration: 6s;
}


.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation-duration: 7s;
}


.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation-duration: 9s;
}


.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation-duration: 5s;
}


.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation-duration: 8s;
}


.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation-duration: 10s;
}


.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation-duration: 6s;
}


.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation-duration: 10s;
}


.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation-duration: 9s;
}


.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation-duration: 7s;
}


.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation-duration: 8s;
}


.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation-duration: 6s;
}


.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation-duration: 9s;
}


/* Bubble Animation */


@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }


  100% {
    transform: scale(1.3) translateY(-120px) rotate(360deg);
    opacity: 0;
  }
}


/* SLIDE ACROSS TRANSITION EFFECT*/
.page-transition.active {
  animation: slideAcross 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/* KEYFRAMES */
@keyframes slideAcross {

  0% {
    transform: translateX(-100%);
  }

  45% {
    transform: translateX(0%);
  }

  55% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }

}

/* HERO BUTTONS(take action and lean more buttons) */
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:35px;
    margin-top:10px;
}

.hero-content h1 {
    font-size: 5rem;
}

/* BUTTON */

.hero-btn{

    display:inline-block;

    padding:16px 42px;

    text-decoration:none;

    font-size:1rem;

    color:white;

    background:linear-gradient(
        135deg,
        #ffbf2f,
        #f4a300
    );

    border-radius:50px;

    transition:
        transform .3s ease,
        box-shadow .3s ease,
        background .3s ease;
}

/* HOVER */

.hero-btn:hover{

    transform:translateY(-5px);

    background:linear-gradient(
        135deg,
        #ffd54a,
        #ffb300
    );

    box-shadow:
        0 10px 25px rgba(255,191,47,.45);
}

/* CLICK */

.hero-btn:active{

    transform:scale(.97);
}

/* HERO BUTTON FADE IN EFFECT*/
.hero-buttons {
    opacity: 0;
    transform: translateY(20px);

    animation: fadeInButtons 1s ease forwards;

    animation-delay: 0.8sssss;
}

@keyframes fadeInButtons {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/* INFO SECTION(TEXT ON PAGES) */
.info-section {
  min-height: 80vh;
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.info-text {
  flex: 1;
}

.info-text h2 {
  font-size: 3rem;

  margin-bottom: 20px;

  color: #00FFFF;
}

.info-text p {
  font-size: 1.1rem;

  line-height: 1.8;

  color: #ddd;
}

/* BUBBLE BACKGROUND for 2ed section */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;


  background: linear-gradient(
    180deg,
    #050505 0%,
    #050505 40%,
    #050505 100%
  );


  z-index: -1;
}


.wrapper div {
  position: absolute;
  width: 90px;
  height: 90px;

  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;

  background: rgba(255,255,255,0.05);

  box-shadow:
    0 0 15px rgba(0,255,255,0.4),
    inset 0 0 15px rgba(255,255,255,0.2);

  animation: animate 12s linear infinite;
}


.wrapper div .dot {
  position: absolute;
  top: 18px;
  right: 18px;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: rgba(255,255,255,0.8);

  box-shadow: 0 0 10px rgba(255,255,255,0.8);
}


/* Bubble Positions for 2ed section */


.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation-duration: 8s;
}


.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation-duration: 10s;
}


.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation-duration: 6s;
}


.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation-duration: 7s;
}


.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation-duration: 9s;
}


.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation-duration: 5s;
}


.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation-duration: 8s;
}


.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation-duration: 10s;
}


.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation-duration: 6s;
}


.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation-duration: 10s;
}


.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation-duration: 9s;
}


.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation-duration: 7s;
}


.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation-duration: 8s;
}


.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation-duration: 6s;
}


.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation-duration: 9s;
}


/* Bubble Animation */


@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }


  100% {
    transform: scale(1.3) translateY(-120px) rotate(360deg);
    opacity: 0;
  }
}


/* SLIDE ACROSS TRANSITION EFFECT*/
.page-transition.active {
  animation: slideAcross 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/* KEYFRAMES */
@keyframes slideAcross {

  0% {
    transform: translateX(-100%);
  }

  45% {
    transform: translateX(0%);
  }

  55% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }

}

/* IMAGE */
.info-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* IMAGE */
.info-image img {
  width: 100%;
  max-width: 500px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 0 0 30px #075d82;
  will-change: transform;
  transform: translateZ(0);
}

/* ANIMATIONS FOR FADE IN EFFECTS*/
.fade-left,
.zoom-in {

  opacity: 0;

  transition:
    opacity 1s ease,
    transform 1s ease;

  will-change: transform, opacity;
}

.fade-left {
  transform: translateX(-100px);
}

.zoom-in {
  transform: scale(0.7);
}

/* ANIMATIONS FOR FADE IN EFFECTS*/
.fade-left.show {
  opacity: 1;
  transform: translateX(0);
}

.zoom-in.show {
  opacity: 1;
  transform: scale(1);
}

/* QUIZ SECTION */
.quiz-container {
  max-width: 900px;
  width: 90%;
  margin: 60px auto;
  padding: 16px;
  display: none;

  /* QUIZ BACKGROUND */
  background-image: url("qp1.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 25px;

  box-shadow: 0 0 30px rgba(7,93,130,0.6);

  text-align: center;
}

.quiz-container .timer {
  font-weight: bold;
  font-size: 50px;
  text-align: right;
  color: #075d82 ;
}

.timer.danger {
  color: #e63946;
}

.quiz-container h2.question {
  font-size: 20px;
  background: rgba(0,0,0,0.85);
  color: #E0FFFF;
  padding: 16px;
  border-radius: 8px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px;
}

.quiz-container .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 20px;
}

.quiz-container .option {
  border: none;
  padding: 24px 32px;
  font-size: 18px;
  background: #075d82;
  color: #E0FFFF;

  border-radius: 10px;
}

.quiz-container button {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.option.correct {
  background: #51e351;
  color: #222;
}

.option.incorrect {
  background: #e63946;
}

.quiz-container .next-btn,
.quiz-result .retake-btn {
  background: #075d82;
  color: #E0FFFF;
  border: none;
  padding: 12px 32px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}

/* RESULT QUIZ PAGE */
.quiz-result {
  display: none;
  flex-direction: column;
  gap: 24px;
  max-width: 900px;
  width: 90%;
  margin: 60px auto;
  padding: 20px;
  color: #E0FFFF;
  background: #075d82;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(7,93,130,0.6);
}

.quiz-result .question-container {
  padding: 12px;
  border: 1px solid #E0FFFF;
  display: flex;
    background: #13b813;
  flex-direction: column;
  gap: 10px;
}

.quiz-result .question-container.incorrect {
  background: #e63946;
  color: #E0FFFF;
}

.question-number {
  font-size: 16px;

  margin-right: 16px;

  background: #075d82;
  color: #E0FFFF;

  padding: 8px;
  border-radius: 8px;
}

@media (max-width: 700px) {
  .quiz-container .options {
    grid-template-columns: 1fr;
  }
}

/*START QUIZ SCREEN */
.start-btn-container {
  width: 1000px;
  max-width: 90%;
  height: 550px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 60px;
  background-image: url("qhp1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(7,93,130,0.6);
}

/*START QUIZ BUTTON */
.start-btn-container .start-btn {
  width: 300px;
  height: 150px;
  background: url("qsb1.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  transition: transform 0.25s ease;
}

.start-btn-container .start-btn:hover {
  transform: scale(1.1);
}

.start-btn-container .start-btn:active {
  transform: scale(0.95);
}


/* =========================
   FOOTER
========================= */

.footer {
    width: 100%;
    height: 230px;

    padding: 0 40px;

    background: black;

    position: relative;

    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}


/* =========================
   FOOTER NAV LINKS
========================= */

.footer-links {
    position: absolute;

    left: 50%;
    top: 70px;

    transform: translateX(-50%);

    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 40px;

    margin: 0;
    padding: 0;
}


/* Remove bullet points */

.footer-links li {
    list-style: none;
    display: inline-block;
}


/* Link styling */

.footer-links li a {
    position: relative;

    text-decoration: none;
    color: white;

    font-family: 'Poppins', sans-serif;

    font-size: 1.1rem;

    letter-spacing: 0.5px;

    padding: 5px 10px;

    white-space: nowrap;

    transition:
        color 0.3s ease,
        letter-spacing 0.3s ease;
}


/* =========================
   TOP + BOTTOM LINES
========================= */

.footer-links li a::before,
.footer-links li a::after {

    content: "";

    position: absolute;

    width: 0;
    height: 2px;

    background-color: #075d82;

    transition: width 0.4s ease;
}


/* TOP LINE */

.footer-links li a::before {
    top: -8px;
    right: 0;
}


/* BOTTOM LINE */

.footer-links li a::after {
    bottom: -8px;
    left: 0;
}


/* HOVER */

.footer-links li a:hover {
    color: #fff;

    letter-spacing: 1px;
}


/* LINE EXPAND */

.footer-links li a:hover::before,
.footer-links li a:hover::after {
    width: 100%;
}


/* =========================
   SOCIAL MEDIA
========================= */

.footer-socials {

    position: absolute;

    left: 50%;
    top: 170px;

    transform: translateX(-50%);

    display: flex;

    align-items: center;
    justify-content: center;

    gap: 70px;
}


/* SOCIAL ICONS */

.footer-socials a {
    color: white;

    font-size: 24px;

    text-decoration: none;

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}


/* SOCIAL HOVER */

.footer-socials a:hover {
    color: #075d82;

    transform: scale(1.2);
}

/* Species that need our help page */
body {
    margin: 0;
    background-color: #0c0c0c;
    color: white;
}

.hero2 {
    padding-top: 0;
    margin-top: 0;
}


.hero-content2 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}


.hero-content2 strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #00FFFF;
    margin-bottom: 0px;
}

.hero-content2 h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.species-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 25px auto 0;
    padding: 0 20px;
}

.species-card {
    background-color: white;
      box-shadow: 0 0 30px #075d82;
    overflow: hidden;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}


/* LEFT CARD */
.species-card:nth-child(3n + 1) {
    transform: translateX(-100px);
}


/* MIDDLE CARD */
.species-card:nth-child(3n + 2) {
    transform: translateY(30px);
}


/* RIGHT CARD */
.species-card:nth-child(3n) {
    transform: translateX(100px);
}


/* WHEN CARDS ARE VISIBLE */
.species-card.show {
    opacity: 1;
    transform: translate(0);
}
   
.species-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.species-info {
    padding: 12px;
    color: black;
}

.species-info h3 {
    margin: 0 0 8px;
    font-size: 16px;
    text-align: center;
}

.species-info p {
    margin: 0;
    font-size: 11px;
    line-height: 1.4;
}


/* ================================
   WHY MARINE LIFE IS ENDANGERED
================================ */

.endangered-section {
    width: 95%;
    max-width: 900px;
    margin: 20px auto 0;
    background-color: transparent;
}

/* TITLE */
.endangered-section > h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 8px 0;
    padding: 30px;
    background: none;
    border: none;
}

/* WHITE BOX */
.endangered-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 0;
    background-color: white;
      box-shadow: 0 0 30px #075d82;
    padding: 5px;
}

/* TEXT */
.endangered-text {
    padding: 0 8px;
    color: black;

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
}

.endangered-text.show {
    opacity: 1;
    transform: translateY(0);
}

.endangered-item {
    margin-bottom: 8px;
}

.endangered-item h3 {
    font-size: 20px;
    margin: 0 0 2px;
    font-weight: bold;
}

.endangered-item p {
    font-size: 10px;
    line-height: 1.25;
    margin: 0;
}

/* IMAGES */
.endangered-images {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.endangered-images img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    display: block;
}

/* TEXT FADE IN */
.endangered-text {
    padding: 0 8px;
    color: black;
    animation: fadeInText 10 s ease-in forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ================================
   VIDEO SECTION
================================ */

.video-section {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.video-section > h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding: 30px 0;
}

.video-box img {
   width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    height: auto;
}

.video-box a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RECENT NEWS PAGE */
/* PAGE BACKGROUND */
.recent-news-page3 {
    min-height: 100vh;
    padding: 0 0 45px 0;
}


/*PAGE HEADING */
.news-heading3 {
    text-align: center;
    color: white;
    padding: 38px 20px 25px;
}

.news-heading3 strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #00FFFF;
    margin-bottom: 0px;
}

.news-heading3 h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

/*  NEWS CONTAINER */
.news-container3 {
    width: 94%;
    max-width: 1080px;

    margin: 0 auto;

    background: #ffffff;

    padding: 10px 20px 5px;

    box-sizing: border-box;
}


/*NEWS CARD */

.news-card3 {
    display: grid;

    grid-template-columns: 1fr 230px;

    gap: 25px;

    min-height: 150px;

    padding: 15px 0;

    border-bottom: 1px solid #e6e6e6;

    box-sizing: border-box;
}

/* ARTICLE INFORMATION */
.news-info3 {
    padding: 0;
}

.news-info3 h2 {
    margin: 0 0 7px 0;
    color: #17252b;
    font-size: 19px;
    line-height: 1.2;

    font-weight: 600;
}

.news-info3 p {
    margin: 0 0 8px 0;
    color: #555;
    font-size: 12px;
    line-height: 1.45;
}


/* READ ARTICLE LINK */
.read-more3 {
    display: inline-block;
    color: #075d82;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s ease;
}

.read-more3:hover {
    color: #16a9b8;
    transform: translateX(3px);
}


/* ARTICLE IMAGE */
.news-image3 {
    width: 230px;
    height: 125px;

    overflow: hidden;

    background: #dce8eb;
}

.news-image3 img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: transform 0.4s ease;
}

.news-card3:hover .news-image3 img {
    transform: scale(1.05);
}

/* Fade EFFECT */
/* NEWS CARD FADE IN */
.news-card3 {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.news-card3.show {
    opacity: 1;
    transform: translateY(0);
}

/* NEWS CARD SCROLL FADE */
.news-card3.fade-in {
    animation: newsFadeIn 0.8s ease forwards;
}

@keyframes newsFadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================================================
   QUIZ INSTRUCTIONS BOX
   ========================================================= */

.quiz-instructions4 {
    width: 92%;
    max-width: 1050px;
    margin: 30px auto 30px auto;
    padding: 13px 12px 18px;
    background-color: #ffffff;
    box-shadow: 0 0 30px #075d82;
    box-sizing: border-box;
    color: #222;
}


/* Heading */
.quiz-instructions4 h2 {
    margin: 0 0 8px 0;
    color: black;
    font-size: 30px;
    font-weight: 500;
}


/* subtitle text */
.quiz-instructions4 p {
    margin: 0;
    color: black;
    font-size: 15px;
    line-height: 1.35;
}

/* fade in effect */
.quiz-instructions4 h2,
.quiz-instructions4 p {
    opacity: 0;
    animation: fadeInText4 1.2s ease forwards;
}

.quiz-instructions4 p {
    animation-delay: 0.3s;
}

@keyframes fadeInText4 {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* HOW CAN U HELP PAGE */
body {
    margin: 0;
    background-color: #0c0c0c;
    color: white;
}

.hero5 {
    padding-top: 0;
    margin-top: 0;
}


.hero-content5 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}


.hero-content5 strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #00FFFF;
    margin-bottom: 0px;
}

.hero-content5 h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.species-cards5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 25px auto 0;
    padding: 0 20px;
}

.species-card5 {
    background-color: white;
      box-shadow: 0 0 30px #075d82;
    overflow: hidden;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}


/* LEFT CARD */
.species-card:nth-child(3n + 1) {
    transform: translateX(-100px);
}


/* MIDDLE CARD */
.species-card:nth-child(3n + 2) {
    transform: translateY(30px);
}


/* RIGHT CARD */
.species-card:nth-child(3n) {
    transform: translateX(100px);
}


/* WHEN CARDS ARE VISIBLE */
.species-card.show {
    opacity: 1;
    transform: translate(0);
}
   
.species-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.species-info {
    padding: 12px;
    color: black;
}

.species-info h3 {
    margin: 0 0 8px;
    font-size: 16px;
    text-align: center;
}

.species-info p {
    margin: 0;
    font-size: 11px;
    line-height: 1.4;
}

/* How can u help page */

.actions-section5 {
    width: 100%;

    padding: 12px 0 18px;
}


/* TITLE */

.actions-title5 {
    text-align: center;

    margin-bottom: 12px;
}

.actions-title5 p {
    margin: 0;

    color: #48d6d6;

    font-size: 20px;
}

.actions-title5 h1 {
    margin: 0;

    color: white;

    font-size: 30px;

    font-weight: 400;
}


/* =========================================================
   ACTION CARDS
   ========================================================= */

.species-cards5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 25px auto 0;
    padding: 0 20px;
}

/* ACTION CARD */

/* ACTION CARD ANIMATION */

.action-card {
    background-color: white;
    box-shadow: 0 0 30px #075d82;
    overflow: hidden;
    border-radius: 0;

    opacity: 0;
}

/* LEFT CARD */
.action-card:nth-child(1) {
    transform: translateX(-80px);
}

/* MIDDLE CARD */
.action-card:nth-child(2) {
    transform: translateY(40px);
}

/* RIGHT CARD */
.action-card:nth-child(3) {
    transform: translateX(80px);
}


/* WHEN CARD BECOMES VISIBLE */
.action-card.show {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* IMAGES */
.action-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

/* TEXT */

.action-card .species-info {
    padding: 12px;
    color: black;
}

.action-card .species-info h3 {
    margin: 0 0 8px;
    font-size: 16px;
    text-align: center;
}

.action-card .species-info p {
    margin: 0;
    font-size: 11px;
    line-height: 1.4;
}


/* =========================================================
   DONATE SECTION
   ========================================================= */

.donate-section5 {
    width: 100%;

    padding: 10px 0 34px;
}


/* DONATE TITLE */

.donate-section5 > h1 {
    text-align: center;
    margin: 0 0 8px;
   padding: 30px;
    color: white;
    font-size: 30px;
    font-weight: 400;
}



/* =========================================================
   DONATE CONTENT
   ========================================================= */

.donate-content5 {
    width: 94%;

    max-width: 1100px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr 390px;

    gap: 45px;

    align-items: start;
}



/* =========================================================
   DONATION IMAGES
   ========================================================= */

.donate-images5 {
    display: flex;

    flex-direction: column;

    gap: 22px;

    padding-left: 5px;
}


/* DONATION IMAGE SCROLL FADE */

.donate-images5 img {
    width: 100%;
    max-width: 420px;
    height: 300px;
    object-fit: cover;
    display: block;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.donate-images5 img.show {
    opacity: 1;
    transform: translateY(0);
}



/* =========================================================
   DONATION FORM
   ========================================================= */

.donation-form5 {
    background: white;
    color: #222;
    padding: 30px 35px 35px;
    box-sizing: border-box;
    width: 100%;
    min-height: 650px;
}


/* FORM TITLE */

.donation-form5 h2 {
    margin: 0 0 8px;
    color:#000814;
    font-size: 24px;
    font-weight: 600;
}


/* FORM SUBTITLE */

.donation-form5 > p {
    margin: 0 0 25px;
    color: #777;
    font-size: 13px;
}


/* =========================================================
   FORM ELEMENTS
   ========================================================= */

.donation-form5 form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.donation-form5 label {
    margin: 8px 0 5px;
    color: #555;
    font-size: 13px;
    font-weight: 500;
}


.donation-form5 input,
.donation-form5 select,
.donation-form5 textarea {
    width: 100%;
    padding: 12px 14px;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    background: white;
    color: #333;
    font-size: 13px;
    outline: none;
    min-height: 45px;
}


.donation-form5 input:focus,
.donation-form5 select:focus,
.donation-form5 textarea:focus {
    border-color: #103e4e;
}



.donation-form5 textarea {
    height: 120px;
    resize: vertical;
}


/* =========================================================
   TWO INPUTS BESIDE EACH OTHER
   ========================================================= */

.form-row5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


/* =========================================================
   SUBMIT BUTTON
   ========================================================= */

.donate-button5 {
    width: 150px;
    margin: 25px auto 0;
    padding: 12px 20px;
    border: none;
    background: #075d82;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: 0.25s ease;
}


.donate-button5:hover {
    background: #00FFFF;
    transform: translateY(-2px);
}

/* =========================================================
   Contact Us Page 
=========================================== */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-box {
    background-color: white;
    width: 92%;
    margin: 56px auto;
    padding: 14px 20px 20px;
    text-align: center;
    box-sizing: border-box;
}

.contact-box h1 {
    margin: 0;
    color:black;
    font-size: 30px;
    font-weight: 700;
}

/* CONTACT TEXT FADE EFFECT */
.contact-box p {
    margin: 2px 0;
    color: black;
    font-size: 20px;
    font-weight: 400;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.contact-box p.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-images {
    width: 92%;
    margin: 60px auto 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-image {
    width: 31%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.contact-image img:hover {
    transform: scale(1.05);
}

/* =========================
   MARINE LIFE FOOTER
========================= */

.marine-footer {
    width: 100%;
    height: 230px;
    box-sizing: border-box;

    padding: 0 40px;

    background: #000;

    position: relative;

    border-top: 1px solid #222;
    border-bottom: 1px solid #222;

    margin-top: auto;
}


/* =========================
   FOOTER NAV LINKS
========================= */

.marine-footer-links {
    position: absolute;

    left: 50%;
    top: 70px;

    transform: translateX(-50%);

    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 40px;

    margin: 0;
    padding: 0;
}


/* Remove bullet points */

.marine-footer-links li {
    list-style: none;
    display: inline-block;
}


/* Link styling */

.marine-footer-links li a {
    position: relative;

    text-decoration: none;
    color: white;

    font-family: 'Poppins', sans-serif;

    font-size: 1.1rem;

    letter-spacing: 0.5px;

    padding: 5px 10px;

    white-space: nowrap;

    transition:
        color 0.3s ease,
        letter-spacing 0.3s ease;
}


/* =========================
   TOP + BOTTOM LINES
========================= */

.marine-footer-links li a::before,
.marine-footer-links li a::after {
    content: "";

    position: absolute;

    width: 0;
    height: 2px;

    background-color: #075d82;

    transition: width 0.4s ease;
}


/* TOP LINE */

.marine-footer-links li a::before {
    top: -8px;
    right: 0;
}


/* BOTTOM LINE */

.marine-footer-links li a::after {
    bottom: -8px;
    left: 0;
}


/* HOVER */

.marine-footer-links li a:hover {
    color: #fff;
    letter-spacing: 1px;
}


/* LINE EXPAND */

.marine-footer-links li a:hover::before,
.marine-footer-links li a:hover::after {
    width: 100%;
}


/* =========================
   SOCIAL MEDIA
========================= */

.marine-footer-socials {
    position: absolute;

    left: 50%;
    top: 170px;

    transform: translateX(-50%);

    display: flex;

    align-items: center;
    justify-content: center;

    gap: 70px;
}


/* SOCIAL ICONS */

.marine-footer-socials a {
    color: white;

    font-size: 24px;

    text-decoration: none;

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}


/* SOCIAL HOVER */

.marine-footer-socials a:hover {
    color: #075d82;
    transform: scale(1.2);
}