* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

/* NAVBAR  */
.navbar {
  width: 100%;
  height: 170px;              
  padding: 0 40px;         
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.logo {
  height: 300px;             
  width: auto;              
  object-fit: contain;
  cursor: pointer;
}

/* NAV LINKS CENTERED */
.navbar ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;   
  align-items: center;
  gap: 40px;

  margin: 0;
  padding: 0;
}

/* LIST ITEMS */
.navbar ul li {
  list-style: none;
  display: inline-block; 
}

/* LINKS */
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  white-space: nowrap;  
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  transition: 0.3s;
}

/* TOP + BOTTOM LINES */
.navbar ul li a::before,
.navbar ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #075d82;
  transition: 0.4s ease;
}

/* TOP LINE */
.navbar ul li a::before {
  top: -8px;
  right: 0;
}

/* BOTTOM LINE */
.navbar ul li a::after {
  bottom: -8px;
  left: 0;
}

/* HOVER TEXT COLOR */
.navbar ul li a:hover {
  color: #ffffff;
}

/* EXPAND BOTH LINES */
.navbar ul li a:hover::before,
.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a {
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  letter-spacing: 1px;
}

/* HERO SECTION */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('ocean.jpg');
  background-size: cover;
  background-position: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/* Page transition code */
.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg, #075d82, #075d82);
  transform: translateX(-100%);
  z-index: 9999;
  pointer-events: none;
}

/* slide IN */
.page-transition.active {
  animation: slideIn 0.7s ease forwards;
}

/* slide OUT */
.page-transition.exit {
  animation: slideOut 0.7s ease forwards;
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

@keyframes slideOut {
  from { transform: translateX(0%); }
  to { transform: translateX(100%); }
}


/* Info (Fade Effect) */
.info-section {
  min-height: 80vh;
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background: #050505;
}

.info-text {
  flex: 1;
}

.info-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #075d82;
}

.info-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ddd;
}

.info-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.info-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 30px #075d82
}

/* Text Fades */
.fade-left,
.zoom-in {
  opacity: 0;
  transition: all 1s ease;
}

/* START POSITIONS */
.fade-left {
  transform: translateX(-100px);
}

.zoom-in {
  transform: scale(0.7);
}

/* WHEN VISIBLE */
.fade-left.show {
  opacity: 1;
  transform: translateX(0);
}

.zoom-in.show {
  opacity: 1;
  transform: scale(1);
}